:root {
  --main-color1: rgb(5, 164, 164);
  --main-color2: rgb(175, 19, 19);
  --main-color3: red;
  --main-color4: rgb(37, 18, 18);
  --main-font-color: white;
  --border-color-1: rgba(0, 0, 0, 100%);
  --background-color1: rgba(0, 0, 0, 100%);
  --background-color2: rgba(0, 0, 0, 90%);
  --background-color3: rgba(0, 0, 0, 80%);
  --background-color4: rgba(0, 0, 0, 30%);
  --shadow-color: rgba(0, 0, 0, 90%);
}

@font-face {
  font-family: oswald;
  src: url("../fonts/oswald.ttf");
}

@font-face {
  font-family: neon;
  src: url("../fonts/neon.otf");
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  color: var(--main-font-color);
  font-family: oswald;
}

.container {
  margin: 0 auto 0 auto;
  max-width: 1400px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 6rem auto 2rem;
  box-shadow: 0 0 5rem 2rem var(--shadow-color);
  border: 2px solid var(--main-color2);
  border-radius: 10px;
  border-bottom: 0;
}

button {
  background-color: var(--main-color2);
  border: 1px solid var(--main-color3);
  color: var(--main-font-color);
  border-radius: 10px;
  font-size: 1.5rem;
  transition: background-color 0.5s, box-shadow 1s;
}

button:hover {
  background-color: var(--main-color3);
  border: 1px solid var(--main-color2);
  box-shadow: 0 0 10px 1px var(--main-color1);
}

nav {
  position: sticky;
  top: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.7rem;
}

.navleft {
  z-index: 5;
  min-width: 200px;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 8;
  gap: 1.5rem;
  padding-right: 2rem;
}

.navleft-logo {
  max-height: 3rem;
  padding-left: 2rem;
}

.navright {
  z-index: 5;
  height: 3rem;
  min-width: 200px;
  background-color: var(--main-color2);
  display: flex;
  justify-content: flex-end;
  gap: minmax(0.2rem, 1rem);
  border-radius: 10px 0 0 10px;
  padding: 0 0.5rem 0 0.5rem;
}

a {
  text-decoration: none;
}

.navleft a {
  transition: color 0.5s, opacity 4s;
}

.active {
  color: var(--main-color2);
}

.navleft a:hover {
  color: var(--main-color1);
}

.navright a {
  margin: 0.1rem;
  border-radius: 5px;
  transition: background-color 0.5s, opacity 4s;
}

.navright a:hover {
  background-color: var(--main-color1);
}

.nav-icon {
  height: 95%;
  filter: invert(96%) sepia(97%) saturate(12%) hue-rotate(237deg)
    brightness(103%) contrast(103%);
}

.background1,
.background2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -15;
  height: 100vh;
  width: 100vw;
}

.background1 {
  background: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 30px,
      var(--main-color1) 30px,
      var(--main-color1) 35px
    ),
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 30px,
      var(--main-color1) 30px,
      var(--main-color1) 35px
    ),
    repeating-linear-gradient(
      120deg,
      var(--main-color1),
      var(--background-color1) 95%,
      var(--background-color1)
    );
}

.background2 {
  background-color: var(--background-color2);
}

#about {
  height: 100%;
  transition: transform 2s;
}

.about {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.description-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  padding: 2rem;
}

.description-container h1,
.description-container h2 {
  font-family: neon;
  max-width: 40rem;
}

.description-container h1 {
  color: var(--main-color2);
  font-size: 3.5rem;
}

.description-container h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.description-container p {
  font-size: 1.4rem;
  color: var(--main-color1);
  text-align: justify;
  max-width: 30rem;
  margin-bottom: 3rem;
}

.description-container button {
  width: 100px;
}

.photo-container {
  position: relative;
  width: 50%;
}

.background-photo {
  opacity: 0.5;
  z-index: -2;
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 90%;
  max-width: 110%;
}

.my-photo {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  max-height: 90%;
  max-width: 90%;
}

#portfolio {
  min-width: 100%;
  min-height: 100%;
  transition: transform 2s;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 1rem;
  gap: 4rem;
}

.portfolio-div-full {
  text-align: center;
  min-width: 90%;
  font-size: 1.5rem;
}

.portfolio-div {
  min-width: 310px;
  max-width: 600px;
  border: 1px solid var(--main-color2);
  border-radius: 10px;
  background-color: var(--background-color1);
  padding: 1rem;
  box-shadow: 0 0 2rem var(--main-color1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.portfolio-div span {
  font-size: 2rem;
}

.portfolio-div img {
  width: 100%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.portfolio-buttons button {
  font-size: 1.4rem;
  padding: 0.2rem;
}

#contact {
  min-height: 100%;
  min-width: 100%;
  transition: transform 2s;
  display: flex;
  align-items: center;
}

#contact h2 {
  text-align: center;
  font-size: 3rem;
}

#contact form {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  align-items: center;
  padding: 25px;
  border: 1px solid var(--main-color2);
  border-radius: 25px;
  background-color: var(--background-color1);
  box-shadow: 0 0 3vmin var(--main-color1);
}

#contact input,
#contact textarea {
  text-align: center;
  font-size: 2vmin;
  width: 98%;
  padding: 8px;
  border-radius: 5px;
  background-color: var(--main-color4);
}

#contact textarea {
  min-height: 15vh;
  resize: none;
}

#contact button {
  margin-top: 2vmin;
  width: 50%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2rem;
  background-color: var(--main-color2);
}

footer div {
  padding: 0 15px 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

footer p {
  font-size: 1rem;
}

.footer-icon {
  height: 80%;
  filter: invert(96%) sepia(97%) saturate(12%) hue-rotate(237deg)
    brightness(103%) contrast(103%);
}

@media screen and (max-width: 1400px) {
  .container {
    border: 0;
    border-radius: 0;
  }
}

@media screen and (max-width: 768px) {
  .description-container {
    width: 100%;
  }

  .description-container h1 {
    font-size: 2rem;
  }

  .description-container h2 {
    font-size: 1.5rem;
  }

  .description-container p {
    font-size: 1.2rem;
  }

  .photo-container {
    width: 100%;
  }
  .background-photo,
  .my-photo {
    max-height: 35vh;
  }
}

@media screen and (max-width: 600px) {
  .container {
    border: 0;
    box-shadow: none;
  }

  nav {
    margin: 0;
  }

  .navleft-logo {
    display: none;
  }
  .navleft {
    flex: 1;
    gap: 0;
    justify-content: space-evenly;
    font-size: 1.3rem;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0px 5px 5px 0px;
    margin-right: 5px;
    background-color: var(--background-color1);
  }
  .navright {
    justify-content: space-evenly;
    flex: 1.2;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 5px 0 0 5px;
  }

  footer p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 410px) {
  footer p {
    font-size: 0.5rem;
  }
  .active {
    color: var(--main-color1);
    text-shadow: 0 0 2px var(--main-color4);
  }

  .navleft {
    background-color: var(--main-color2);
    border-radius: 5px 5px 0px 0px;
  }
  .navright {
    border-radius: 0 0 5px 5px;
  }
  .navleft,
  .navright {
    margin: -1px 5px 0 5px;
  }

  .description-container {
    background-color: var(--background-color3);
    padding: 1rem;
    height: 100%;
    justify-content: center;
  }
}
