:root {
  --main-color1: rgb(5, 164, 164);
  --main-color2: rgb(175, 19, 19);
  --main-color3: red;
  --main-color4: rgb(37, 18, 18);
  --main-font-color: white;
  --border-color-1: rgba(0, 0, 0, 100%);
  --background-color1: rgba(0, 0, 0, 100%);
  --background-color2: rgba(0, 0, 0, 90%);
  --background-color3: rgba(0, 0, 0, 80%);
  --background-color4: rgba(0, 0, 0, 30%);
  --background-color5: rgba(0, 0, 0, 60%);
  --shadow-color: rgba(0, 0, 0, 90%);
}

@font-face {
  font-family: oswald;
  src: url("../fonts/oswald.ttf");
}

@font-face {
  font-family: neon;
  src: url("../fonts/neon.otf");
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  color: var(--main-font-color);
  font-family: oswald;
}

.container {
  margin: 0 auto 0 auto;
  max-width: 1400px;
  display: grid;
  grid-template-rows: 6rem auto 2rem;
  box-shadow: 0 0 15rem 15rem var(--shadow-color);
  border: 2px solid var(--main-color2);
  border-radius: 0 0 11px 11px;
  border-top: 0;
}

.section {
  border-bottom: 1px solid red;
  transition: all 2s;
  opacity: 0;
}

.section.show {
  transform: translateX(0);
  opacity: 1;
}

button {
  background-color: var(--main-color2);
  border: 1px solid var(--main-color3);
  width: 7rem;
  color: var(--main-font-color);
  border-radius: 10px;
  font-size: 1.5rem;
  transition: background-color 0.5s, box-shadow 1s;
}

button:hover {
  background-color: var(--main-color3);
  border: 1px solid var(--main-color2);
  box-shadow: 0 0 10px 1px var(--main-color1);
}

header {
  z-index: 15;
  position: sticky;
  top: 1rem;
  width: 100%;
  display: flex;
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.7rem;
}

.main-menu {
  transition: all 0.5s linear;
}

.hamburger {
  z-index: 16;
  display: none;
  border: 0;
  margin-right: 2rem;
  padding: 0.2rem;
  border-radius: 0;
  background-color: transparent;
  height: 3rem;
}

.hamburger:hover {
  background-color: transparent;
  box-shadow: none;
  border: 0;
}

.navleft {
  z-index: 14;
  min-width: 250px;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 8;
  gap: 1.5rem;
  padding-right: 2rem;
}

.navleft-logo {
  max-height: 3rem;

  margin-left: 2rem;
}

.navright {
  z-index: 14;
  height: 3rem;
  min-width: 170px;
  background-color: var(--main-color2);
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  border-radius: 10px 0 0 10px;
  padding: 0 0.5rem 0 0.5rem;
}

a {
  text-decoration: none;
}

.navleft a {
  transition: color 0.5s, opacity 4s;
}

.navleft a:hover {
  color: var(--main-color1);
}

.navright a {
  margin: 0.1rem;
  border-radius: 5px;
  transition: background-color 0.5s, opacity 4s;
}

.navright a:hover {
  background-color: var(--main-color1);
}

.nav-icon {
  height: 95%;
  filter: invert(96%) sepia(97%) saturate(12%) hue-rotate(237deg)
    brightness(103%) contrast(103%);
}

.background1,
.background2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -15;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
}

.background1 {
  background: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 30px,
      var(--main-color1) 30px,
      var(--main-color1) 35px
    ),
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 30px,
      var(--main-color1) 30px,
      var(--main-color1) 35px
    ),
    repeating-linear-gradient(
      120deg,
      var(--main-color1),
      var(--background-color1) 95%,
      var(--background-color1)
    );
}

.background2 {
  background-color: var(--background-color2);
}

#about {
  transition: transform 2s;
}

.about {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.description-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;

  padding: 2rem;
}

.description-container h1,
.description-container h2 {
  font-family: neon;
  max-width: 40rem;
}

.description-container h1 {
  color: var(--main-color2);
  font-size: 3.5rem;
}

.description-container h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.description-container p {
  font-size: 1.4rem;
  color: var(--main-color1);
  text-align: justify;
  margin-bottom: 3rem;
}

.description-container button {
  width: 100px;
}

.photo-container {
  width: 50%;
}

.my-photo {
  z-index: -1;
  max-width: 100%;
  max-height: 100%;
}

#portfolio {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem 1rem 1rem 1rem;
  column-gap: 4rem;
  row-gap: 3rem;
  transition: all 1s;
}

.portfolio-div-full {
  text-align: center;
  min-width: 90%;
  font-size: 1.5rem;
}

.portfolio-div-full h2 {
  font-family: neon;
  font-size: 2.5rem;
  color: var(--main-color2);
}

.portfolio-div-full > button {
  height: 3rem;
  padding: 0;
  border: 0;
  margin: 0.5rem;
}

.portfolio-div {
  min-width: 310px;
  max-width: 600px;
  border: 1px solid var(--main-color2);
  border-radius: 10px;
  background-color: var(--background-color1);
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: shadow-box-pulse 6s linear infinite;
}

.portfolio-div span {
  font-size: 2rem;
}

.portfolio-div img {
  width: 100%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.portfolio-buttons button {
  font-size: 1.2rem;
  padding: 0.3rem;
}

#contact {
  text-align: center;
  min-height: calc(100vh - 3rem);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  padding-top: 5rem;
}

#contact h1 {
  font-size: 2rem;
}

#contact div {
  width: 50%;
  font-size: 1.4rem;
}

#contact .title {
  font-size: 2.6rem;
  color: var(--main-color2);
  font-family: neon;
}

#contact .message {
  font-size: 1.5rem;
}

#contact p {
  color: var(--main-color1);
}

#contact form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--main-color2);
  border-radius: 10px;
  background-color: var(--background-color1);
  margin-bottom: 3rem;
  animation: shadow-box-pulse 6s linear infinite;
}

.message-approved {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact input,
#contact textarea {
  text-align: center;
  font-size: 1.2rem;
  width: 98%;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--main-color4);
}

#contact textarea {
  resize: none;
}

#contact button {
  width: 10rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2rem;
  background-color: var(--main-color2);
  border-radius: 0 0 9px 9px;
}

footer div {
  padding: 0 15px 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

footer p {
  font-size: 1rem;
}

.footer-icon {
  height: 70%;
  filter: invert(96%) sepia(97%) saturate(12%) hue-rotate(237deg)
    brightness(103%) contrast(103%);
}

@media screen and (min-width: 1400px) and (min-height: 1200px) {
  .about {
    min-height: 500px;
  }

  #portfolio {
    width: 100%;
    min-height: 500px;
  }

  #contact {
    min-height: 500px;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    border: 0;
    border-radius: 0;
  }
}

@media screen and (max-width: 768px) {
  #contact div {
    width: 78%;
  }

  #contact form {
    width: 75%;
  }

  .description-container {
    width: 100%;
  }

  .description-container h1 {
    font-size: 2rem;
  }

  .description-container h2 {
    font-size: 1.5rem;
  }

  .description-container p {
    font-size: 1.2rem;
  }

  .photo-container {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-rows: 3rem auto 2rem;
    border: 0;
    box-shadow: none;
  }

  .active {
    color: var(--main-color2);
  }

  header {
    margin-top: 0;
    top: 0;
    flex-direction: column;
  }

  .hamburger-menu {
    background-color: var(--background-color1);
    z-index: 15;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
  }

  .hamburger {
    display: block;
  }

  .main-menu {
    flex-wrap: wrap-reverse;
    margin: 0;
    transform: translateY(-100%);
  }

  .show-nav {
    transform: translateY(0);
  }

  .navleft {
    flex: 1.2;
    gap: 0;
    justify-content: space-evenly;
    font-size: 1.5rem;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: var(--background-color5);
  }
  .navright {
    justify-content: space-evenly;
    flex: 1;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: var(--background-color5);
  }

  footer p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 410px) {
  footer p {
    font-size: 0.5rem;
  }

  .description-container {
    padding: 1rem;
    height: 100%;
    justify-content: center;
  }

  #contact form {
    width: 85%;
  }
}

@keyframes shadow-box-pulse {
  0% {
    box-shadow: 0 0 1.5rem var(--main-color1);
  }
  25% {
    box-shadow: 0 0 1.5rem var(--main-color2);
  }
  50% {
    box-shadow: 0 0 1.5rem var(--main-color1);
  }
  75% {
    box-shadow: 0 0 1.5rem var(--main-color2);
  }
  100% {
    box-shadow: 0 0 1.5rem var(--main-color1);
  }
}
