:root {
  --main-color1: rgb(5, 164, 164);
  --main-color2: rgb(175, 19, 19);
  --main-color3: red;
  --main-color4: rgb(59, 52, 52);
  --main-font-color: white;
  --border-color-1: rgba(0, 0, 0, 100%);
  --background-color1: rgba(0, 0, 0, 100%);
  --background-color2: rgba(0, 0, 0, 90%);
  --shadow-color: rgba(0, 0, 0, 90%);
}

@font-face {
  font-family: oswald;
  src: url("../fonts/oswald.ttf");
}

@font-face {
  font-family: neon;
  src: url("../fonts/neon.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  color: var(--main-font-color);
  font-family: oswald;
}

.hidden {
  transform: translateY(150vh) scale(0.1);
}

button {
  background-color: var(--main-color2);
  border: 1px solid var(--main-color3);
  color: var(--main-font-color);
  border-radius: 5%;
  font-size: 3vmin;
  transition: background-color 0.5s, box-shadow 1s;
}

button:hover {
  background-color: var(--main-color3);
  border: 1px solid var(--main-color2);
  box-shadow: 0 0 10px 1px var(--main-color1);
}

nav {
  z-index: 5;
  width: 100%;
  position: fixed;
  top: 2vh;
  height: 7vh;
  display: flex;
}

nav div {
  display: flex;
  font-size: 3vmin;
}

.navleft-logo {
  flex: 8;
  margin-left: 3vw;
}

.navleft {
  align-items: center;
  justify-content: space-evenly;
  flex: 8;
}

.navright-add {
  flex: 1;
  background-color: var(--main-color2);
  border-radius: 50% 0 0 50%;
}

.navright {
  background-color: var(--main-color2);
  flex: 3;
  display: flex;
  justify-content: space-evenly;
}

.navleft a,
.navright a {
  text-decoration: none;
}

.navleft a {
  transition: color 0.5s, opacity 4s;
}

.active {
  color: var(--main-color2);
}

.navleft a:hover {
  box-shadow: 0px 2px 0px var(--main-color1);
}

.navright a {
  margin: 0.5vmin;
  border-radius: 25%;
  transition: background-color 0.5s, opacity 4s;
}

.navright a:hover {
  background-color: var(--main-color1);
}

.nav-icon {
  padding: 5%;
  height: 100%;
  filter: invert(96%) sepia(97%) saturate(12%) hue-rotate(237deg)
    brightness(103%) contrast(103%);
}

.background1,
.background2 {
  position: fixed;
  z-index: -10;
  height: 100vh;
  width: 100vw;
  opacity: 100%;
  background: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 30px,
      var(--main-color1) 30px,
      var(--main-color1) 35px
    ),
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 30px,
      var(--main-color1) 30px,
      var(--main-color1) 35px
    ),
    repeating-linear-gradient(
      120deg,
      var(--main-color1),
      var(--background-color1) 95%,
      var(--background-color1)
    );
}

.background2 {
  background: none;
  background-color: var(--background-color2);
}

.slider {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
}

#about {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  transition: transform 2s;
}

.about-left {
  padding-left: 7vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 2vmin;
  height: 100vh;
  width: 50vw;
}

.about-left h1,
h2 {
  font-family: neon;
}

.about-left h1 {
  color: var(--main-color2);
  font-size: 6vmin;
}

.about-left h2 {
  font-size: 3.5vmin;
  margin-bottom: 5vh;
}

.about-left p {
  color: var(--main-color1);
  text-align: justify;
  font-size: 2.5vmin;
  max-width: 30vw;
  margin-bottom: 5vh;
}

.about-left button {
  width: 15vw;
}

.about-right {
  z-index: -1;
  height: 100vh;
  width: 50vw;
  background: radial-gradient(
    closest-side,
    var(--main-color1) 20%,
    transparent 90%
  );
}

.my-photo {
  position: absolute;
  right: 0vw;
  bottom: 0;
  max-height: 85vh;
  width: 100%;
  max-width: max-content;
}

.background-photo {
  opacity: 55%;
  position: absolute;
  right: 0vw;
  bottom: 0vh;
  height: 86vh;
  width: 100%;
  max-width: max-content;
}

#portfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: transform 2s;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 9vmin;
}

.portfolio-div-full {
  text-align: center;
  min-width: 75vw;
  font-size: 2vmin;
}

.portfolio-div-full button {
  padding: 0 15px 0 15px;
  margin-top: 1vmin;
}

.portfolio-div {
  min-width: 30vw;
  border: 1px solid var(--main-color2);
  border-radius: 20px;
  background-color: var(--background-color1);
  padding: 1em;
  box-shadow: 0 0 3vmin var(--main-color1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1vmin;
}

.portfolio-div h3 {
  width: 100%;
}

.portfolio-div img {
  max-height: 30vh;
  width: 75%;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-div button {
  font-size: 2vmin;
  padding: 0.3vmin 2vmin 0.3vmin 2vmin;
}

#contact {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: transform 2s;
  display: flex;
  align-items: center;
}

#contact h1 {
  text-align: center;
  font-family: neon;
  font-size: 6vmin;
  margin-bottom: 5vmin;
}

#contact form {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  align-items: center;
  padding: 25px;
  border: 1px solid var(--main-color2);
  border-radius: 25px;
  background-color: var(--background-color1);
  box-shadow: 0 0 3vmin var(--main-color1);
}

#contact input,
#contact textarea {
  text-align: center;
  font-size: 2vmin;
  width: 98%;
  padding: 8px;
  border-radius: 5px;
  background-color: var(--main-color4);
}

#contact textarea {
  min-height: 15vh;
  resize: none;
}

#contact button {
  margin-top: 2vmin;
  width: 50%;
}

footer {
  z-index: 15;
  position: fixed;
  bottom: 0;
  right: 1vw;
  height: 4vh;
}

footer p {
  padding-bottom: 2vh;
  font-size: 2vmin;
}

@media screen and (max-width: 1000px) {
  .about-left {
    width: 100vw;
  }

  .my-photo {
    right: -5vw;
  }
}

@media screen and (max-width: 768px) {
  .background-photo {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navleft-logo {
    display: none;
  }
  .navleft {
    flex: 3;
    font-size: 5vmin;
    background-color: var(--main-color2);
    border-radius: 5px 0 0 5px;
    margin-left: 5px;
  }
  .navright {
    flex: 2;
    border-radius: 0 5px 5px 0;
    margin-right: 5px;
  }
  .navright-add {
    display: none;
  }

  .active {
    color: var(--main-font-color);
    box-shadow: 0px 2px 0px var(--main-color1);
  }
  .about-left {
    padding-top: 12vh;
    justify-content: start;
  }

  .about-left p {
    width: 85vw;
    max-width: 100vw;
    font-size: 4vmin;
  }

  .about-left button {
    width: 35vw;
    font-size: 4vmin;
  }

  .about-right {
    background: none;
  }

  #contact form {
    width: 85vw;
  }

  #contact input,
  #contact textarea {
    font-size: 3vmin;
  }

  #contact textarea {
    min-height: 20vh;
  }

  footer {
    display: none;
  }

  .portfolio-div-full,
  .portfolio-div-full button,
  .portfolio-div button {
    font-size: 4vmin;
  }

  .portfolio-div {
    max-height: 30vh;
    width: 85vw;
  }

  .my-photo {
    right: -25vw;
    bottom: -10vh;
  }
}
